## Pandas Datareader

We should install
```pip install pandas-datareader```

***pandas_datareader.data*** and ***pandas_datareader.wb*** extract data from:
+ Yahoo! Finance
+ Enigma
+ St.Louis Fed (FRED)
+ Kenneth French's data library
+ Word Bank
+ OECD
+ Eurostat
+ Thirft Savings Plzn
+ Oanda currency historical rate
+ Nasdaq Trader symbol definition (remote_data_nasdaq_symbols)

In [26]:
import pandas_datareader as web
import datetime

start = datetime.datetime(2020,1,1)
end = datetime.date.today()

**Yahoo API connection**

In [27]:
facebook = web.DataReader('FB', 'yahoo', start, end)

In [28]:
facebook.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-07-28,377.549988,366.929993,374.559998,373.279999,29676900,373.279999
2021-07-29,365.519989,356.739990,361.000000,358.320007,33413200,358.320007
2021-07-30,360.730011,352.940002,354.000000,356.299988,15976200,356.299988
2021-08-02,359.399994,350.739990,358.100006,351.950012,13180400,351.950012
2021-08-03,353.769989,347.700012,352.730011,351.239990,12406100,351.239990

**FRED API connection**

In [29]:
gdp = web.DataReader('GDP', 'fred', start, end)

In [30]:
gdp.head()

                  GDP
DATE
2020-01-01  21481.367
2020-04-01  19477.444
2020-07-01  21138.574
2020-10-01  21477.597
2021-01-01  22038.226