## Operation

There are many operations with pandas that will be really useful

In [1]:
import pandas as pd

df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

**Unique value**

In [2]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [3]:
df['col2'].nunique()

3

In [4]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

**Data selection**

In [7]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [10]:
df[(df['col2']>444) &~ (df['col1']==3)]

   col1  col2 col3
1     2   555  def

In [21]:
df['col1'].sum()

10

In [28]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [23]:
times2 = lambda x : x*2;

In [26]:
df['col2'].apply(times2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

Easier:

In [29]:
df['col2'].apply(lambda x: x*2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [32]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [39]:
df.index

RangeIndex(start=0, stop=4, step=1)

**Sort**

In [40]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [41]:
df.sort_values('col2', ascending=False)

   col1  col2 col3
2     3   666  ghi
1     2   555  def
0     1   444  abc
3     4   444  xyz

**Missing value**

In [42]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

Finding missing value

In [54]:
df[df.isnull() == True].dropna()

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

**Pivot Table**

In [56]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [61]:
df.pivot_table(values='D', index=['A'], columns=['B','C'])

B    one       two
C      x    y    x    y
A
bar  4.0  1.0  NaN  5.0
foo  1.0  3.0  2.0  NaN