## data Input & Output

we will see how to read these files:
   + CSV
   + Excel
   + HTML
   + SQL

To read/write files, normally we should put them in same folder of the jupyter notebook.
But we can place them in another folder, so we have to use `pathlib` module

Before reading Excel files, we should install:
```
pip install openpyxl
```

**CSV & Excel**

In [1]:
from pathlib import Path

my_dir = Path.cwd().parent / "Files"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(my_dir / 'example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df.to_csv(my_dir / 'My_output.csv', index=False)

In [5]:
pd.read_excel(my_dir / "Excel_Sample.xlsx", sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [6]:
df.to_excel(my_dir / 'Excel_Sample2.xlsx', sheet_name='NewSheet')

**HTML**

To use HTML links, we should install:
```
pip install lxml
pip install html5lib
pip install BeautifulSoup4
```

In [7]:
df1 = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
type(df1)

list

In [8]:
df1[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

**SQL**

To work with PostgresSQL DataBase, we should install:
```
pip install sqlalchemy
```

In [9]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:')

In [11]:
df.to_sql('my_table', engine)

4

In [12]:
sql_df = pd.read_sql('my_table', con=engine)
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15